*.jar
*.old
*.log
*.log.lck
*.ms
*.db
banned-ips.txt
banned-players.txt
ops.txt
white-list.txt
wepif.yml
permissions.yml
help.yml
plugins/CommandBook/sessions/
plugins/PluginMetrics/
plugins/AntiCheat/data/
